.bor-style {
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    /* width: 92%; */
    margin-bottom: 10px;
    min-height: 160px;
    max-height: 200px;
}

.menu-wrapper {}

.menu-image {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    width: 20%;
}

.menu-image a img {}

.menu-description {
    float: left;
    padding-left: 5%;
    width: 75%;
}

.menu-list {
    display: block;
    clear: both;
}

.menu-list h5 {
    font-size: 18px;
    line-height: 22px;
    vertical-align: bottom;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    float: left;
    /* letter-spacing: 2px; */
    max-width: 70%;
    padding-right: 12px;
    margin: 5px 0;
}

.menu-list h5:hover {
    color: #F2B410;
}

.menu-list p.price {
    color: red;
    /* background: black; */
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    display: inline-block;
    vertical-align: bottom;
    float: right;
    padding-top: 7px;
    padding-left: 12px;
    margin-bottom: 5px;
}

p.menu-ingredients {
    display: block;
    text-align: justify;
    clear: both;
    width: 100%;
}

.width-100 {
    width: 100%;
}

.image-section-inside {
    position: relative;
    z-index: 100;
}

p.contact_success_box {
    text-align: center;
    display: inline-block;
    color: #454545;
    font-size: 20px;
    font-style: italic;
    padding: 20px 20px;
}

#contact-form {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    text-align: center;
    padding: 30px 0 10px 0;
}

input.contact-input {
    width: 100%;
    height: 55px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 20px;
    color: #656565;
    border: 2px solid #454545;
    background-color: transparent;
    font-size: 14px;
    float: left;
}

textarea {
    height: 205px;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #656565;
    border: 2px solid #454545;
    background-color: transparent;
    font-size: 14px;
    float: left;
}

input.contact-submit {
    color: #fff;
    border: 2px solid #F2B410;
    background-color: #F2B410;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    padding: 16px 30px;
    position: relative;
    text-transform: uppercase;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

input.contact-submit:hover {
    color: #F2B410;
    background-color: transparent;
    border: 2px solid #F2B410;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

input.white-input::-webkit-input-placeholder,
textarea.white-input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #656565;
}

input.white-input:-moz-placeholder,
textarea.white-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #656565;
}

input.white-input::-moz-placeholder,
textarea.white-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #656565;
}

input.white-input:-ms-input-placeholder,
textarea.white-input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #656565;
}

#contact-form input.contact-input:focus,
#contact-form textarea.contact-commnent:focus {
    border-color: #F2B410;
    outline: none;
}

p.contact_success_box {
    text-align: center;
    display: inline-block;
    color: #454545;
    font-size: 20px;
    font-style: italic;
    padding: 20px 20px;
}


/* .wow:first-child {
    visibility: hidden;
} */