/*body{margin:50px;}
#accordion .glyphicon { margin-right:10px; }
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}
.menu-left{
      margin-top: 10px;
}*/

i {
    float: right;
}

.sub-con-mid,
.sub-con-right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 25px;
}

.co {
    background-color: black;
}

.box-sub-con-mid {
    margin-top: 15px;
}

.food-name {
    font-size: 20px;
    color: coral;
    text-indent: 1%;
    margin-bottom: 10px;
    margin-top: 9px;
}

.box-cover-food {
    margin-top: 15px;
}

.mar-left {
    text-indent: 3%;
}

.img-food {
    width: 50%;
}

.box-price {
    float: right;
}


/* box-shadow */

.border-style {
    background-color: lavender;
    padding-right: 15px;
    padding-left: 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */
    margin-top: 10px;
    margin-bottom: 5px;
}

.box-cover-form {
    margin-top: 10px;
}

.sign-up-icon {
    padding-top: 5px;
}

.form-control {
    margin-top: 10px;
}

.boxtyra {
    /* background-color: lavender; */
    /* width: 50%; */
    min-height: 400px;
    height: auto;
    margin-top: 10px;
    padding-top: 10px;
    overflow: hidden;
}

.ul-li li {
    list-style: none;
    margin-top: 5px;
    text-indent: 15px;
}

.shop-name {
    color: coral;
}

.food-type {
    font-weight: bold;
}

.btn-view {
    margin-bottom: 10px;
}

.text-available {
    text-align: center;
}

.far {
    text-indent: -30px;
}

.mapss {
    width: 100%;
    height: 385px;
}

.star {
    font-size: 18px;
}

.back1 {
    background-color: lavender;
    min-height: 400px;
    height: auto;
    margin-top: 10px;
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bord-style {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 8px; */
    padding-top: 10px;
    /* padding-left: 10px; */
    background-color: white;
    height: 310px;
    margin-bottom: 10px;
}


/* .food-title{
            
      } */

.menu-title {
    text-indent: 2%;
    font-weight: bold;
    font-size: 18px;
}

.food-title {
    padding-top: 5px;
    /* font-weight: bold; */
    /* background: rgba(169,169,169, 0.2); */
    padding-left: 10px;
}

.btnOrder {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.btn-style {
    font-size: 15px;
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
}

.img-style {
    width: 50%;
    margin-left: 25%;
}


/* search box*/

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 48px;
    background-color: #fff;
    height: 50px;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
    border-radius: 48px;
    padding-top: 0px;
}

#custom-search-input button {
    margin: 9px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

.footback {
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: grey;
    margin-top: 20px;
}


/*footter  */

.text {
    color: white;
    margin-top: 10px;
}

.logo {
    color: white;
    font-size: 40px;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
}

.text:hover {
    color: #f8bf2c;
    text-decoration: underline;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 26px;
    background-color: blue;
}

.btn-circle:hover {
    background-color: transparent;
}

.soc {
    color: white;
    font-size: 25px;
    margin-bottom: 5px;
}

.padd {
    text-indent: 1%;
}

.footbottom {
    width: 100%;
    height: 80px;
    /* background-color: #0077Ba; */
    background: black;
}

.contain {
    padding-left: 30%;
    padding-top: 3%;
    color: white;
}

.term {
    color: white;
}

.term:hover {
    color: white;
}

.padd {
    padding-left: 5%;
}
.back-g{
    background-color: lavender;
}